@import 'components/btn-primary';
@import 'components/btn-secondary';
@import 'components/btn-mobile';


$--width-mobile: 368px;
$--width-mobile-reduced: 320px;
$--width-tablet: 768px;
$--width-tablet-reduced: 720px;
$--width-pc: 1366px;
$--width-pc-reduced: 1320px;
$--background-body: #606C38;
$--background-footer: #283618;
$--background-footer-dark: #1F2A13;
$--color-letras: #FEFAE0;
$--color-primary: #BC6C25;
$--color-primary-dark: #96561E;
$--background-game: #DDA15E;
$--background-game-dark: #D1842C;


body {
    background-color: #606C38;
    color: $--color-letras;

    header {
        display: flex;
        width: 100%;
        height: 100px;
        flex-direction: row;

        #logo {
            margin: 20px auto;
            height: 50px;
            width: 20%;
        }

        nav {
            width: 80%;
            display: flex;
            flex-direction: row;

            .info {
                display: flex;
                margin: 20px;
                width: 90%;
                justify-content: space-around;
                border-radius: 32px;
                border: solid 1px $--color-letras;
                align-items: center;
                -webkit-border-radius: 32px;
                -moz-border-radius: 32px;
                -ms-border-radius: 32px;
                -o-border-radius: 32px;

                li {

                    a {
                        text-decoration: none;
                        color: $--color-letras;
                        &::before {
                            content: "• ";
                            color: $--color-primary;
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        height: 600px;

        #start {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        #game {
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .orca-picture {
                width: 45%;
                height: 300px;
                margin: 75px auto;

                .game__view-picture {
                    width: 80%;
                    max-width: 500px;
                    margin: auto;
                    padding: 5%;
                    height: 90%;
                    background-color: $--background-game;
                    box-shadow: inset -1.5px -5px $--background-game-dark;
                    border: 5px solid $--color-letras;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }
            }

            .words-picture {
                width: 45%;
                height: 300px;
                gap: 30px;
                display: flex;
                flex-direction: column;

                .game__view-word {
                    width: 90%;
                    max-width: 500px;
                    height: 80%;
                    padding: 10%;
                }

                .game__mobile {
                    width: 90%;
                    display: flex;
                    gap: 10px;
                    justify-content: flex-start;

                    .game__text-mobile {
                        width: 65%;
                        height: max-content;
                        border: 4px solid $--background-body;
                        color: $--background-body;
                        background-color: $--color-letras;
                        padding: 10px;
                        font-weight: 600;
                        font-size: 15px;
                        border-radius: 15px;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        -ms-border-radius: 15px;
                        -o-border-radius: 15px;

                        &::placeholder {
                            color: $--background-body;
                        }
                    }
                }

                .game-buttons {
                    display: flex;
                    gap: 20px;
                    flex-direction: row;
                }
            }
        }

        #menu-add-words {
            width: 100%;
            height: 100%;
            display: flex;

            .menu-add-words__space-text {
                height: 90%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                #text-add-word {
                    height: 100%;
                    width: 50%;

                    #add-word {
                        width: 100%;
                        height: 80%;
                        padding: 20px;
                        background-color: $--background-body;
                        box-shadow: inset -7px -10px $--background-footer;
                        color: $--color-letras;
                        border: 4px solid $--color-letras;
                        resize: none;
                        font-weight: 600;
                        font-size: 16px;
                        border-radius: 16px;
                        -webkit-border-radius: 16px;
                        -moz-border-radius: 16px;
                        -ms-border-radius: 16px;
                        -o-border-radius: 16px;
                        &::placeholder {
                            color: $--color-letras;
                        }
                    }

                    #text-info {
                        height: 10%;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 20px;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }

        .view-modal {
            width: 100%;
            height: 735px;
            backdrop-filter: blur(2px);
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;

            .view-modal__message{
                width: 250px;
                height: 100px;
                position: relative;
                background-color: $--background-body;
                box-shadow: inset -3px -8px $--background-footer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 4px solid #FAFDF9;
                border-radius: 30px;

                p {
                    font-size: 16px;
                    width: 200px;
                    line-height: 1.1em;
                    color: white;

                    &:nth-child(2) {
                        font-weight: 700;
                    }
                }

                input {
                    position: absolute;
                    width: 100px;
                    top: 80px;
                }
            }
        }

        .view-modal--scale{
            height: 895px;
        }

        
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: $--background-footer;
        width: 100%;
        height: 200px;

        .footer-copy{
            p {
                font-weight: 600;
            }
        }

        .footer-redes {
            .redes-sociales {
                display: flex;
                flex-direction: row;
                gap: 20px;

                li {
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

// media screen

// pages

// https://yosoyteamc.github.io/AhorcadoGame/
// https://github.com/Yosoyteamc/AhorcadoGame/blob/master/index.html
// https://matias-d.github.io/Ahorcado-Game/
// https://josenel-19.github.io/juego_ahorcado/
// https://github.com/beatrizang/juego-del-ahorcadoWW