$--color-letras: #FEFAE0;
$--color-primary: #BC6C25;
$--color-primary-dark: #96561E;

.btn-primary {
    cursor: pointer;
    height: 3rem;
    width: 200px;
    color: $--color-letras;
    border: 1px solid $--color-letras;
    background-color: $--color-primary;
    box-shadow: inset -2px -6px $--color-primary-dark;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    &:hover {
        opacity: 0.7;
    }
}